{% extends 'base.html' %}

{% block content %}
<form id="myForm" method="post" action="{% url 'save_kiemtratuchu' %}"></form>
    {% csrf_token %}

    <div id="tableContainer">
        <div style="margin-left: 50px;">
            <h2 style="margin-top: 20px; text-align: center;">Biểu kiểm tra tự chủ các công đoạn</h2>
            <h3 style="margin-top: 20px; display: inline-block;">Số yêu cầu </h3>
            <h3 class= 'req' style="display: inline-block;">{{ request_info }}</h3>
            

            <table id="dataTable" class="table" style="width: 100%; margin: auto;">
                <tr>
                    <td class="stage-cell">Công đoạn</td>
            
                    {% for employee_processing in employee_processing_list %}
                        <td class="stage-cell">{{ employee_processing.stage }}</td>
                    {% endfor %}
            
                    <input type="hidden" class="form-control" name="len_ep" value="{{ employee_processing_list|length }}">
                </tr>
            
                <tr>
                    <td class="stage-cell">MSNV</td>
                    {% for user in users_list %}
                        <td class="stage-cell">{{ user }}</td>
                    {% endfor %}
                </tr>
            
                <tr>
                    <td class="stage-cell" rowspan="3">Số thứ tự KT</td>
                    {% for _ in employee_processing_list %}
                        <td class="stage-cell">Max</td>
                    {% endfor %}
                </tr>
            
                <tr>
                    {% for _ in employee_processing_list %}
                        <td class="stage-cell">Min</td>
                    {% endfor %}
                </tr>
            
                <tr>
                    {% for _ in employee_processing_list %}
                        <td class="stage-cell">OK/NG</td>
                    {% endfor %}
                </tr>
            
                {% if stages_tuchu %}
                    {% for inspect, values_dict in inspects_dict.items %}
                        <tr>
                            <td rowspan="4">

                                <input type="text" name="input_0" value="{{inspect}}" style="width: 120px;">
    
                            </td>
                            {% for max_value in values_dict.max_values %}

                                <td hidden="true">
                                    
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for max_value in values_dict.max_values %}

                                <td>
                                    <input type="number" name="input_{{ forloop.parentloop.counter }}_{{ forloop.counter0 }}" 
                                           placeholder="Max" style="width: 100px;" value="{% if max_value %}{{ max_value }}{% endif %}">
                                </td>
                            {% endfor %}
                        </tr>
            
                        <tr>
                            {% for min_value in values_dict.min_values %}
                                <td>
                                    <input type="number" name="input_2_{{ forloop.parentloop.counter }}_{{ forloop.counter0 }}" 
                                           placeholder="Min" style="width: 90px;" value="{% if min_value %}{{ min_value }}{% endif %}">
                                </td>
                            {% endfor %}
                        </tr>
            
                        <tr>
                            {% for okng_value in values_dict.okngs %}
                                <td>
                                    <select name="input_3_{{ forloop.parentloop.counter }}_{{ forloop.counter0 }}">
                                        <option value="OK" {% if okng_value == 'OK' %}selected{% endif %}>OK</option>
                                        <option value="NG" {% if okng_value == 'NG' %}selected{% endif %}>NG</option>
                                    </select>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>


            
            <button type="button" onclick="addThreeRows()" class="btn btn-success btn-sm">+</button>
        </div>
        <div style="margin-top: 20px; margin-left: 40px; ">
            <button class="btn btn-primary" onclick="saveValues()">Lưu</button>

        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    let tableContainer = document.getElementById("tableContainer");

    tableContainer.style.overflowX = 'auto';
    let counter = 1; // Start with 1 for the initial row

    var lenEp = document.querySelector('input[name="len_ep"]');
    var valueLenEp = lenEp.value;

    function addThreeRows() {
        let table = document.getElementById("dataTable");
        let valueLenEp = parseInt(document.getElementsByName("len_ep")[0].value);

        for (let i = 0; i < 4; i++) {
            let newRow = table.insertRow(table.rows.length);

            if (i === 0) {
                let cell1 = newRow.insertCell(0);
                cell1.rowSpan = 4; // Set rowspan to 3 for the first cell

                // Create an input for the first cell
                let inputElement = document.createElement('input');
                inputElement.type = 'text';
                inputElement.name = 'input_0';
                inputElement.style.width = '120px'; // Adjust the width as needed

                cell1.appendChild(inputElement);
            } else {
                for (let j = 0; j < valueLenEp; j++) {
                    let newCell = newRow.insertCell(j);
                    let inputElement;

                    if (i === 1 || i === 2) {
                        // Create a text input for 'Max' and 'Min'
                        inputElement = document.createElement('input');
                        inputElement.type = 'number';
                        inputElement.name = 'input_' + i + '_' + j;
                        inputElement.placeholder = i === 1 ? 'Max' : 'Min';
                    } else if (i === 3) {
                        // Create a dropdown (select) for 'OK/NG'
                        inputElement = document.createElement('select');
                        inputElement.name = 'input_' + i + '_' + j;

                        // Add options 'OK' and 'NG'
                        let optionOK = document.createElement('option');
                        optionOK.value = 'OK';
                        optionOK.text = 'OK';
                        inputElement.appendChild(optionOK);

                        let optionNG = document.createElement('option');
                        optionNG.value = 'NG';
                        optionNG.text = 'NG';
                        inputElement.appendChild(optionNG);
                    }

                    // Set inline style to make the input larger
                    inputElement.style.width = '90px'; // Adjust the width as needed

                    newCell.appendChild(inputElement);
                }
            }
        }

        // Enable horizontal scrolling for the table container
        document.getElementById("tableContainer").style.overflowX = 'auto';
    }

    function saveValues() {
        let savedValues = [];

        // Iterate through the table rows to gather input values
        let table = document.getElementById("dataTable");

        let soYeuCauRowValues = [];
        let soYeuCauElement = document.querySelector('h3.req');
        if (soYeuCauElement) {
            soYeuCauRowValues.push("Số yêu cầu");
            soYeuCauRowValues.push(soYeuCauElement.textContent.trim());
            savedValues.push(soYeuCauRowValues);
        }


        let congDoanRowValues = [];
        let congDoanCells = table.rows[0].cells;
        for (let i = 0; i < congDoanCells.length; i++) {
            let cellValue = congDoanCells[i].textContent.trim(); 
            congDoanRowValues.push(cellValue);
        }
        savedValues.push(congDoanRowValues);


        let msnvRowValues = [];
        let msnvCells = table.rows[1].cells;
        for (let i = 0; i < msnvCells.length; i++) {
            let cellValue = msnvCells[i].textContent.trim();
            msnvRowValues.push(cellValue);
        }
        savedValues.push(msnvRowValues);

        for (let i = 0; i < table.rows.length; i++) {
            let rowValues = [];
            let cells = table.rows[i].cells;

            for (let j = 0; j < cells.length; j++) {
                let inputElement = cells[j].querySelector('input, select');
                if (inputElement) {
                    rowValues.push(inputElement.value);
                }
            }

            if (rowValues.length > 0) {
                savedValues.push(rowValues);
            }
        }

        // Create a form data object
        let formData = new FormData();

        // Append the savedValues to the form data
        formData.append('savedValues', JSON.stringify(savedValues));

        // Get the CSRF token from the cookie
        let csrfToken = document.cookie.match(/csrftoken=([^;]+)/)[1];

        // Use jQuery AJAX for form submission with CSRF token in headers
        $.ajax({
            url:"{% url 'save_kiemtratuchu'%}",
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            headers: {
                'X-CSRFToken': csrfToken
            },
            success: function(response) {
                
                if (response.success) {
                    // Thực hiện chuyển hướng
                    window.location.href = response.redirect_url;
                }

            },
            error: function(error) {
                // Handle the error response from the server
                console.error('Error:', error);
            }
        });
    }
</script>



<style>

    input[type="text"], select {
        width: 90px;
        padding: 5px; /* Adjust padding as needed */
        border: 1px solid #ccc; /* Adjust border color as needed */
        border-radius: 4px; /* Adjust border radius for rounded corners */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        margin-bottom: 5px; /* Add margin for spacing between inputs */
    }
    table {
        border-collapse: collapse;
        margin-top: 20px;
        width: 80%;
        margin: auto;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center; 
    }

    th {
        background-color: #f2f2f2;
    }

    .stage-cell, .total-time-cell {
        font-weight: bold;
    }

    #dataTable {
        width: 1200px; 
    }

</style>
{% endblock %}
